{% extends 'base.html.twig' %}

{% block title %}Éditer Article{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body p-5">
                        <h1 class="h2 mb-4">✏️ Éditer l'article</h1>
                        {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                        {{ include('post/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
